.all{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 300px;
    padding-top: 30px;
    
}
.btn1{
    border: solid white;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    display: flex;
    justify-self: left;
    color: white;
    margin-top: 20px;
    -webkit-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    

}
.btn1:hover{
    transform: scale(1.08);
    transition: all 0.5s;
    cursor: pointer;
    color: #fff;
}
.warning{
    color: red;
    font-size: x-small;
    display: flex;
    justify-content: center;
}
.label{
    margin-right: 10px;
    color: white;
}
.inputShape{
    background-color: transparent;
    border: solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    max-width: 200px;
    width: 200px;
    -webkit-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
}

.inputShape::placeholder{
    color: white;
}
.separador{
    margin-top: 10px;
}
.btn2{
    border: solid white;
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    color: white;
    margin-top: 70px;
    -webkit-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.75);
}
.btn2:hover{
    transform: scale(1.08);
    transition: all 0.5s;
    cursor: pointer;
    color: #fff;
}
.option{
    color: black;
}
.create{
    display: flex;
    justify-content: start;
    flex-direction: column;
    
}
.title{
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
