.ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid white;
    margin-bottom: 2rem;
    
}
.container:hover{
    transform: scale(1.08);
    transition: all 0.5s;
    background-color: rgba(3, 3, 3, 0.719);
    cursor: pointer;
    color: #fff;
}